/env
/.idea/
.env

/ARCHITECTURE/IMAGE_KEEPER_SERVICE/data/complete_data/docker_images/*
/ARCHITECTURE/IMAGE_KEEPER_SERVICE/data/complete_data/repo/*
/ARCHITECTURE/IMAGE_KEEPER_SERVICE/data/source_data/zip/*.zip


/ARCHITECTURE/SECRET_KEEPER_SERVICE/secret_keeper/secrets/*


/ARCHITECTURE/STATISTIC_SERVICE/local.env

demo